<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css" >
    <title>Сайт о котиках</title>
</head>
<body>
    <div class="main">
        <h1>Готов узнать новые факты
            <br> о твоём любимом питомце?</h1>
        <a href="#fact1"><img src="/static/лапка.png" class="paw"></a>
        <img src="/котик%20обложка.png" class = "main_cat">
    </div>
    <div class="facts">
        <div class = "fact" id ="fact1">
            <img src="/Факт%201.png">
            <div class = "block" >
                <p>Всем хорошо известно о том, что коты очень любят спать. Так вот сон кота составляет примерно 15 часов в сутки.</p>
            </div>
        </div>
        <div class = "fact">


            <div class = "block cart2">
                <img src="/Доп.кошак2.png">
                <p>У этих животных особое строение когтей и именно эта особенность не позволяет им слазить с деревьев вниз головой.
                Чтобы спуститься на землю им приходится уцепиться когтями за ветку в положении, когда голова сверху,
                а ноги соответственно снизу.</p>
            </div>
            <img src="/Факт%202.png">
        </div>
                <div class = "fact">
            <img src="/Факт%203.png">
            <div class = "block cart3">
                <p>Мурчащие существа на самом деле умеют не только мурчать и мяукать.
                Эти животные способны воспроизводить около 100 разных звуков,
                    просто мы зачастую не замечаем этого. Много это или мало?
                    Для сравнения можно взять собаку, она способна порадовать
                    нас примерно 10 разными звуками.</p>
            </div>
        </div>
        <div class = "fact">
             <div class = "block cart4">
                <p>Принято считать, что одомашнили котов древние египтяне,
                    но на самом деле эта информация не совсем достоверная.
                    Относительно недавно на Кипре были раскопаны останки древнейшей домашней кошки.</p>
            </div>
            <img src="/Факт%204.png">
        </div>
                        <div class = "fact">
            <img src="/Факт%205.png">
            <div class = "block cart5">
                <img src="/Доп.кошак1.png">
                <p>О появлении котов на Земле гласит одна легенда. Когда Ной построил ковчег,
                    он попросил у Бога защитить корабль от вездесущих крыс.
                    Бог услышал молитвы Ноя и приказал царю зверей Льву чихнуть.
                    Из пасти животного появился кот.</p>
            </div>
        </div>
                <div class = "fact">
             <div class = "block cart6">
                <p>Прыгучесть этих животных просто не может не удивлять.
                    Кот в состоянии подпрыгнуть на высоту, превышающую его рост примерно в 5 раз.</p>
            </div>
            <img src="/Факт%206.png">
        </div>
        <div class = "fact">
            <img src="/static/Факт%207.png">
            <div class = "block cart7">
                <p>Не везде встреча с черным котом предзнаменует неудачи и беды.
                    Например, Великобритания считает по-другому.
                    Встретить на своем пути черного кота, значит вскоре получить хорошее известие.</p>
            </div>
        </div>

                <div class = "fact">
             <div class = "block cart8">
                <p>Мистика, с которой на протяжении долгих лет связывали кошачьих,
                    нашла свое отображение и в творчестве. Самым известным мистическим
                    существом этого вида по праву можно считать Чеширского кота, который был
                    персонажем сказки «Алиса в стране чудес».</p>
            </div>
            <img src="/Факт%208.jpg">
        </div>
        <div class="end">
    <a href="#fact1"><img src="/static/лапка.png" class="paw2"></a>
    </div>

</div>
</body>
</html>

