<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Раскраска</title>
    <link rel="stylesheet" href="/static/style.css" >
        <style> body{
        background-image: url("/static/фгл.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 100vh;
    } </style>
</head>
<body>
<div class="name"><img src="/static/раскраска.png"></div>
<div class = "paws">
    <a href="/board/"><img src="/static/доска.png" class="paw"></a>
    <a href="/Prediction/"><img src="/static/Предсказание.png" class="paw4"></a>
    <a href="/coloring/"><img src="/static/Лапка2.png" class="paw2"></a>

</div>

</body>
</html>